.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.header {
  font-size:1.1rem;
  margin-bottom: 6px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin:3px 0;
  color: #333;
}

body {
  height: auto!important;
}
